.nav-link {
  @apply text-gray-800 py-2 px-4 rounded
}

.nav-link:hover {
  background-color: #e5e5e5;
  border-color: #bbb;
}

.language-button {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px 8px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: background-color 0.3s, border-color 0.3s;
}

.language-button.active {
  background-color: #d4d4d4;
  color: #000;
  border: 1px solid #aaa;
}

.language-button:hover {
  background-color: #e5e5e5;
  border-color: #bbb;
}

@media (max-width: 768px) {
  .language-buttons {
    flex-direction: column;
    gap: 12px;
  }
}
